---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "bourbon/bourbon",
        "base/base",
        "neat/neat",
        "syntax-highlighting",
        "global",
        "header",
        "home",
        "journal",
        "footer",
        "post"
;

// Debug
// $visual-grid: true !global;


.backing-img {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: em(25);
}