---
layout: home
---
<div id="journal" class="home">
  <ul class="post-list">
    {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        {% if author %}
          <span class="gravatar">
            <img src="{{ author.email | get_gravatar:'35' }}" alt="A photo of {{ author.name }}" style="border-radius:50%;"/>
          </span>
          <span class="post-meta"><a href="{{ author.web }}" target="_blank">{{ author.name }}</a> • </span>   
        {% endif %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.comments %}
          <span class="post-meta">
            <a href="{{ post.url }}index.html#disqus_thread" data-disqus-identifier="{{ post.url }}">Comments</a>
          </span>
        {% endif %}
        {{ post.excerpt }}
      </li>
      <hr>
    {% endfor %}
  </ul>
</div>
