footer.site-footer {
    @include outer-container(100%);
    background-color: $tibetan-red;
    height: 10em;
    // position: absolute;
    // left: 0;
    // bottom: 0;
    // height: 100px;
    // width: 100%;
}


.footer-banner {
    padding: em(25) em(12) 0;
    .footer-heading {
        font-family: $crushed;
        margin-bottom: 5px;
        display: inline-block;
        float: left;
        color: white;
    }
    .social-links-list {
        display: inline-block;
        margin-top: em(-2);
        padding-left: 12px;
        float: left;
    }
    .return-to-top {
        margin-top: em(-2);
        float: right;
    }
    p { clear: both; color: white; }
    a {
        color: rgba(255,255,255,.65);
        &:hover {
          color: rgba(255,255,255,1);  
        }
    }
}