body, html {
    height:100%;
}
.site-wrapper {
    position: relative;
    min-height: 100%;
    margin-bottom: -10em;
    &:after {
      content:'';
      display: table;
      clear: both;

    }
}

/**
 * Page content
 */
.page-content {
    @include outer-container();
    &:after {
      height: 10em;
    }
}

.page-heading {
    font-size: 20px;
}

/**
 * Social-Links-List
 */
.social-links-list {

    li {
        float: left;
        padding-right: em(12);
        a {
            transition: color 0.1s linear;
        }
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $light-gray;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Blockquotes
 */
blockquote {
  margin: 1.5em 0 1.5em;
  padding: 0 1em 0 2.5em;
  position:relative;
  &::before{
    color: #ccc;
    content: "\201C";
    font-size: 5em;
    position:absolute;
    left:5px;
    top: 0.2em;
    line-height: 0.1em;  
  }
}

cite {
  display: block;
  &::before {
    content: "\2014";
    padding-right: 3px;
  }
}



/* responsive videos */
.video { padding-top: 5px; }
.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0px null null 0px);
    @include size(100%);
  }
}
