/**
 * Home-Header
 */
header.site-header {
    position: relative;
    display: block;
    height: 100%;
    background: url("../images/dharmatala.jpg") no-repeat top center;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @include linear-gradient(180deg, rgba(0,0,0, 0) 0%, rgba(0,0,0, .65) 100%);
    }
}

.banner {
    @include outer-container();
}

.site-title {
    position: absolute;
    top: 50%;
    bottom: 50%;
    padding: 0 em(12);
    color: white;
    h1{
        // text-transform: uppercase;
        font-family: $crushed;
        margin-bottom: 0;
        text-shadow: 1px 1px #000;
        font-size: 3.25em;
    }
    .site-tag {
    text-shadow: 1px 1px #000;
    }
}
.call-to-action {
    position: absolute;
    bottom: 20px;
    left: 50%;
            text-align: center;
    @include transform(translate(-50%,0));
    a {
        font-size: em(21);

        color: rgba(255,255,255,0.5);
        &:hover {
            color: rgba(255,255,255,1);
        }
        i {
            font-size: 1.7em;
        }
    }
}

.social-links-header {
    position: absolute;
    right: 0;
    color: white;
    a {
        font-size: 2em;
        color: rgba(255,255,255,.5);
        &:hover {
            color: rgba(255,255,255,1);
        }
    }
}
/**
 * Page-Header
 */
 .page-header {
    @include outer-container(100%);
 }
 .page-banner {
    padding: em(3) em(12) 0;
    .page-heading {
        font-family: $crushed;
        margin-bottom: 5px;
        display: inline-block;
        float: left;
    }
    .social-links-page-header{
        ul {
            margin-top: em(-3); 
            padding-left: em(15);
            float: right;
        }
    }
 }