/**
 * Home-Header
 */
header.site-header {
    position: relative;
    display: block;
    height: 100%;
    background: url("../images/dharmatala.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @include linear-gradient(180deg, rgba(0,0,0, 0) 0%, rgba(0,0,0, .65) 100%);
    }
}

.banner {
    @include outer-container();
}

.site-title {
    position: absolute;
    top: 50%;
    bottom: 50%;
    padding: 0 em(12);
    color: white;
    h1{
        // text-transform: uppercase;
        font-family: $crushed;
        margin-bottom: 0;
        text-shadow: 1px 1px #000;
        font-size: 3.25em;
    }
    .site-tag {
    text-shadow: 1px 1px #000;
    }
}
.call-to-action {
    // @include radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0), $fallback: rgba(0,0,0,0.3));

    position: absolute;
    bottom: 20px;
    left: 50%;
    text-align: center;
    border-radius: 50%;
    padding: em(25);
    @include transform(translate(-50%,0));
    a {
        font-size: em(21);

        color: rgba(255,255,255,0.5);
        &:hover {
            color: rgba(255,255,255,1);
        }
        i {
            font-size: 1.7em;
            animation: pulsate 1.5s ease-out;
            animation-iteration-count: infinite;
        }
    }
}

.social-links-header {
    position: absolute;
    right: 0;
    color: white;
    a {
        font-size: 2em;
        color: rgba(255,255,255,.5);
        &:hover {
            color: rgba(255,255,255,1);
        }
    }
}

/**
* Animation
*/
@-webkit-keyframes pulsate {
    0% { -webkit-transform: scale(1, 1); opacity: 0.6; }
    50% { -webkit-transform: scale(1.5, 1.5); opacity: 1.0; }
    100% { opacity: 0.6; -webkit-transform: scale(1, 1); }
}

/**
 * Page-Header
 */
 .page-header {
    @include outer-container(100%);
 }
 .page-banner {
    padding: em(3) em(12) 0;
    .page-heading {
        font-family: $crushed;
        margin-bottom: 5px;
        display: inline-block;
        float: left;
    }
    .social-links-page-header{
        ul {
            margin-top: em(-3); 
            padding-left: em(15);
            float: right;
        }
    }
 }