/**
 * Site header
 */
header.site-header {
    position: relative;
    display: block;
    height: 100%;
    background: url("../images/dharmatala.jpg") no-repeat top center;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @include linear-gradient(180deg, rgba(0,0,0, 0) 0%, rgba(0,0,0, .65) 100%);
    }
}

.banner {
    @include outer-container();
}

.site-title {
    position: absolute;
    top: 50%;
    bottom: 50%;
    padding: 0 em(12);
    color: white;
    h1{
        text-transform: uppercase;
        font-family: $monospace;
        margin-bottom: 0;
        // text-shadow: 1px 1px #000;
    }
    .site-tag {
    // text-shadow: 1px 1px #000;
    }
}
.call-to-action {
    position: absolute;
    bottom: 20px;
    left: 50%;
    // -webkit-transform: translate(-50%, 0);
    //     -ms-transform: translate(-50%, 0);
    //         transform: translate(-50%, 0);
    @include transform(translate(-50%,0));
    color: white;
    font-size: 5em;
}

.social-links {
    position: absolute;
    right: 0;
    color: white;
    .social-links-list {
        li {
            float: left;
            padding-right: em(15);
            a {
                font-size: 2em;
                color: rgba(255,255,255,.5);
                &:hover {
                    color: rgba(255,255,255,1);
                }
            }
        }
    }
}
