---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<div class="post">
  <section class="type-system-geometric">
    <header class="post-header">
      {% if page.category %}
        <p class="type">{{ page.category }}</p>
      {% endif %}
      <h1>{{ page.title }}</h1>
      <h2>{{ content | lead_in:"lead" | strip_html }}</h2>
      <p class="date">{{ page.date | date: "%b %-d, %Y" }}</p>
    </header>
    <article class="post-content">
      {{ content | lead_in:"remaining"}}
      <hr>
    </article>
    {% if author %}
    <div class="post-author-info">
      <span class="gravatar">
        <img src="{{ author.email | get_gravatar:'75' }}" alt="A photo of {{ author.name }}" style="border-radius:50%;"/>
      </span>
      <span><a href="{{ author.web }}" target="_blank">{{ author.name }}</a></span> 
      </div>  
    {% endif %}
  </section>
</div>
{% if page.comments %}
  <div class="disqus-comments">
    {% include disqus.html %}
  </div>
{% endif %}