---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<div class="post">
  <section class="type-system-geometric">
    <header class="post-header">
      <p class="type">Article Type</p>
      <h1>{{ page.title }}</h1>
      <h2>{{ content | lead_in:"lead" | strip_html }}</h2>
      <p class="date">{{ page.date | date: "%b %-d, %Y" }}</p>
    </header>
    <article class="post-content">
      {{ content | lead_in:"remaining"}}
      <hr>
    </article>
    {% if author %}
    <div class="post-author-info">
      <span class="gravatar">
        <img src="{{ author.email | get_gravatar:'75' }}" alt="A photo of {{ author.name }}" style="border-radius:50%;"/>
      </span>
      <span><a href="{{ author.web }}" target="_blank">{{ author.name }}</a></span> 
      </div>  
    {% endif %}
  </section>
</div>
{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    // Required: on line below, replace text in quotes with your forum shortname
    var disqus_shortname = 'FORUM SHORTNAME GOES HERE';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}