---
layout: default
---


<div class="post">
  <section class="type-system-geometric" itemscope itemType="http://schema.org/BlogPosting">
    <header class="post-header">
      {% if page.category %}
        <p class="type" itemprop="description">{{ page.category }}</p>
      {% endif %}
      <p class="date" itemprop="datePublished" content="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</p>
      <h1 itemprop="headline">{{ page.title }}</h1>
    </header>
    <article class="post-content" itemprop="articleBody">
      {{ content }}
      <hr>
    </article>

  </section>
</div>
{% if page.comments %}
  <div class="disqus-comments">
    {% include disqus.html %}
  </div>
{% endif %}